html, body {
    background-color: #F6F4EC;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 50px auto;
    padding: 50px;
}
.markdown-body p {
    text-indent: 2em;
}
.markdown-body h1{
    text-align: center;
 }


@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}