html, body {
    background-color: #F6F4EC;
}

#header {
    height: 30px;
    padding: 20px 50px;
    border-bottom: 2px solid #c8cccf;
}

input {
    position: relative;
    height: 30px;
    padding: 0 12px;
    width: 180px;
    background: transparent;
    border: 1px solid #c8cccf;
    outline: none;
}

#tags-list {
    float: left;
    margin-left: 10px;
    line-height: 32px;
}

#upload {
    float: right;
    line-height: 32px;
    font-size: 25px;
}

#md-editor {
    height: 100%;
    width: 100%;
}
#editor {
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid #c8cccf;
}
#source-code {
    height: 70%;
    width: 90%;
    border: none;
    padding: 5% 5% 30% 5%;
    background: transparent;
    outline: none;
    resize: none;
    text-align: justify;
    font-size: 16px;
    font-family: Microsoft YaHei;
}

#preview {
    width: 44.5%;
    height: 80%;
    padding: 2% 2.5% 10% 2.5%;
    overflow: scroll;
}

#source-code::-webkit-scrollbar{
    display:none;
}
#preview::-webkit-scrollbar{
    display:none;
}
