#container {
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
    box-sizing: border-box;
}



/*                       页眉                       */
#header {
    height: 160px;
    position: relative;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #c6cbd1;
}
#header-left {
    position: absolute;
    left: 0;
    bottom: 30px;
}
#header-right {
    position: absolute;
    height: 32px;
    right: 0;
    bottom: 10px;
}

.header-link {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 32px;
    line-height: 32px;
    float: left;
    padding: 0 12px;
    margin: 0 5px 0 0;
}

/* 搜索 */
#search {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    float: left;
}
#search-input {
    position: relative;
    float: left;
    height: 30px;
    padding: 0 12px;
    width: 180px;
    background: transparent;
    border: none;
    outline: none;
}
#search-button {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    display: block;
    background: url(../images/blue.png);
    margin: 0;
    padding: 0;
    outline: none;
}
#search-button:hover {
    background: url(../images/pink.png);
}



/*                       中间部分                       */
#middle {
    width: 100%;
}

/* 文章列表 */
#article {
    position: relative;
    float: left;
    width: 75%;
}
.article-list {
    padding: 0 30px 30px 0;
}
.article-list a{
    font-size: 150%;
}

/* 右侧导航 */
#rightbar {
    position: relative;
    float: left;
    width: 24%;
    border-left: 2px solid #c6cbd1;
}
.rightbar-list {
    margin: 0;
    margin: 0 0 30px 30px;
    line-height: 22px;
}


/* 让子div撑开父div */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/*                       页脚                       */
#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size:12px;
}


/* markdown */
.markdown-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 30px 0;
    line-height: 25px;
}
.markdown-body h1{

}



